<div class="mx-auto max-w-2xl px-2 py-4 shadow-sm">
    <div class="mt-[4rem]">
        <img src="https://unsplash.it/320/370" class="w-full object-cover">
        <h2 class="font-bold text-2xl text-center p-2 my-4">Titre de l'album</h2>
        <div class="flex justify-between">
            <app-icon-button title="play_circle"></app-icon-button>
            <app-icon-button title="visibility_off"></app-icon-button>
        </div>

        <div class="mt-4">
            <h3 class="bg-blue-500 py-2 px-4 text-white rounded-t-lg mt-5">Liste des chansons</h3>
            <ul class="">
                <li class="mt-1">Lorem ipsum dolor sit amet</li>
                <li class="mt-1">consectetur adipisicing elit</li>
                <li class="mt-1">sit amet consectetur adipisicing</li>
                <li class="mt-1">Dolores non libero ut sed doloremque</li>
                <li class="mt-1">vitae inventore enim consequatur</li>
            </ul>
        </div>
    </div>
</div>


